/* leftScreen.module.css */
.container {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s;
}

.name {
    font-size: 2em;
    margin-bottom: 10px;
}

.role {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.menuItem {
    margin-bottom: 10px;
}

.button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.link {
    color: var(--primary-color);
    cursor: pointer;
    transition: color 0.2s;
    margin-right: 10px;
}

.link:hover {
    color: var(--primary-color-hover);
}
